<% title "#{@company.name} stocks" %>
 
<div id="graph-container" class="centered-text" style="height: 500px; min-width: 600px; max-width: 960px;" data-company-code="<%= @company.code %>" data-company-messages-url="<%= company_messages_url(@company, :format => :json) %>" data-company-stocks-url="<%= company_stocks_url(@company, :format => :json) %>"></div>